.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "Cormorant Garamond", serif;
}